body{
background-color: aqua;

}
h3{
    height: 100px;
    

}
h2{

}












image{
color-interpolation-filters: var(px);
right: 500px;
height: 500 px;



width: 500px;



}